<div class="container">
    <hr>
    <h1>Breaking News!</h1>
    <hr>
    <div class="row">
        {{#each data}}
        <div class="card col-md-4" style="width: 18rem;">
            <img class="card-img-top" src={{image}} alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{title}}</h5>
                <p id={{_id}} class="card-text">{{summary}}</p>
                <a href={{link}} class="btn btn-primary">View Article</a>
            </div>
        </div>
        {{/each}}
    </div>

   
</div>

<script src="https://code.jquery.com/jquery.js"></script>
